# Exploratory Data Analysis

In [1]:
import pandas as pd
import sqlite3

In [2]:
#Firstly, creat a connection the database
conn = sqlite3.connect('inventory.db')

In [4]:
#Validate the tables present in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
tables

                         name
0  begin_inventory-checkpoint
1             begin_inventory
2               end_inventory
3                   purchases
4             purchase_prices
5                       sales
6              vendor_invoice

In [8]:
conn.execute("DROP TABLE IF EXISTS [begin_inventory-checkpoint]")
conn.commit()

In [9]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
tables

              name
0  begin_inventory
1    end_inventory
2        purchases
3  purchase_prices
4            sales
5   vendor_invoice

In [11]:
for table in tables['name']:
    print(f'{table}--')
    print('Count of rows:', pd.read_sql(f"SELECT count(*) as count from {table}", conn)['count'].values[0])

begin_inventory--
Count of rows: 206529
end_inventory--
Count of rows: 224489
purchases--
Count of rows: 2372474
purchase_prices--
Count of rows: 12261
sales--
Count of rows: 12825363
vendor_invoice--
Count of rows: 5543

In [14]:
for table in tables['name']:
     print('-'*30, f'{table}','-'*30)
     display(pd.read_sql(f"SELECT * from {table} limit 5", conn))

------------------------------ begin_inventory ------------------------------

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

------------------------------ end_inventory ------------------------------

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

------------------------------ purchases ------------------------------

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

------------------------------ purchase_prices ------------------------------

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

------------------------------ sales ------------------------------

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

------------------------------ vendor_invoice ------------------------------

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [15]:
purchases = pd.read_sql_query("SELECT * from purchases WHERE VendorNumber = 480", conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,5_SUTTON_3348,5,3348,Bombay Sapphire Gin,1.75L,480,BACARDI USA INC,8106,2023-12-20,2024-01-02,2024-01-12,2024-02-05,22.38,6,134.28,1
1,1_HARDERSFIELD_8358,1,8358,Bacardi 151 Proof,750mL,480,BACARDI USA INC,8106,2023-12-20,2024-01-01,2024-01-12,2024-02-05,14.49,12,173.88,1
2,30_CULCHETH_4903,30,4903,Bacardi Superior Rum,200mL,480,BACARDI USA INC,8106,2023-12-20,2024-01-01,2024-01-12,2024-02-05,2.87,48,137.76,1
3,34_PITMERDEN_3782,34,3782,Grey Goose Le Citron Vodka,750mL,480,BACARDI USA INC,8106,2023-12-20,2024-01-02,2024-01-12,2024-02-05,18.89,5,94.45,1
4,1_HARDERSFIELD_4233,1,4233,Castillo Silver Label Rum,1.75L,480,BACARDI USA INC,8106,2023-12-20,2024-01-01,2024-01-12,2024-02-05,7.87,23,181.01,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91841,40_BULLMAR_5315,40,5315,B & B Liqueur Dom,750mL,480,BACARDI USA INC,13641,2024-12-23,2024-12-27,2025-01-10,2025-02-14,19.22,12,230.64,1
91842,36_LEWES_3857,36,3857,Grey Goose Vodka,1.75L,480,BACARDI USA INC,13641,2024-12-23,2024-12-29,2025-01-10,2025-02-14,38.27,6,229.62,1
91843,23_ARBINGTON_4267,23,4267,Bacardi Limon Rum,1.75L,480,BACARDI USA INC,13641,2024-12-23,2024-12-29,2025-01-10,2025-02-14,15.62,6,93.72,1
91844,58_HARTLEPOOL_3857,58,3857,Grey Goose Vodka,1.75L,480,BACARDI USA INC,13641,2024-12-23,2024-12-27,2025-01-10,2025-02-14,38.27,6,229.62,1
91845,38_GOULCREST_4233,38,4233,Castillo Silver Label Rum,1.75L,480,BACARDI USA INC,13641,2024-12-23,2024-12-26,2025-01-10,2025-02-14,7.87,18,141.66,1

In [17]:
purchase_prices = pd.read_sql_query("SELECT * from purchase_prices WHERE VendorNumber = 480", conn)
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,126,Grey Goose Vodka,32.99,1000mL,1000,1,20.14,480,BACARDI USA INC
1,443,St Germain Liqueur,33.99,750mL,750,1,24.45,480,BACARDI USA INC
2,508,Bacardi Superior Rum,12.99,1000mL,1000,1,9.77,480,BACARDI USA INC
3,743,Angels Envy Whiskey,45.99,750mL,750,1,36.50,480,BACARDI USA INC
4,802,Bacardi Torched Cherry Rum,11.99,750mL,750,1,7.99,480,BACARDI USA INC
...,...,...,...,...,...,...,...,...,...
179,4024,Bacardi Razz,0.99,50mL,50,1,0.71,480,BACARDI USA INC
180,4192,Havana Club Anejo Blanco Rum,19.99,750mL,750,1,15.03,480,BACARDI USA INC
181,4216,Havana Club Anejo Clsco Gold,21.99,750mL,750,1,16.92,480,BACARDI USA INC
182,4237,Havana Club Anejo Blanco Rum,0.99,50mL,50,1,0.76,480,BACARDI USA INC
183,4251,Havana Club Anejo Clsco Gold,0.99,50mL,50,1,0.78,480,BACARDI USA INC

In [18]:
vendor_invoice = pd.read_sql_query("SELECT * from vendor_invoice WHERE VendorNumber = 480", conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
1,480,BACARDI USA INC,2024-01-19,8288,2024-01-01,2024-02-18,32463,396606.13,1864.05,Frank Delahunt
2,480,BACARDI USA INC,2024-01-22,8308,2024-01-03,2024-02-26,15033,173408.47,832.36,None
3,480,BACARDI USA INC,2024-01-29,8433,2024-01-12,2024-03-10,16160,150950.37,815.13,None
4,480,BACARDI USA INC,2024-02-02,8548,2024-01-20,2024-03-19,20647,215769.02,1165.15,None
5,480,BACARDI USA INC,2024-02-16,8618,2024-01-25,2024-03-17,19253,227503.57,1205.77,None
6,480,BACARDI USA INC,2024-02-23,8719,2024-02-01,2024-03-24,15365,163835.98,802.80,None
7,480,BACARDI USA INC,2024-03-01,8877,2024-02-11,2024-04-08,15297,172888.12,778.00,None
8,480,BACARDI USA INC,2024-03-06,8914,2024-02-14,2024-04-04,13341,148069.14,695.92,None
9,480,BACARDI USA INC,2024-03-15,9062,2024-02-24,2024-04-24,12618,137129.12,699.36,None
10,480,BACARDI USA INC,2024-03-17,9113,2024-02-28,2024-05-01,12843,145436.94,741.73,None
11,480,BACARDI USA INC,2024-03-23,9213,2024-03-06,2024-04-24,13411,131921.07,712.37,None
12,480,BACARDI USA INC,2024-04-02,9389,2024-03-18,2024-04-30,12719,137470.25,714.85,None
13,480,BACARDI USA INC,2024-04-06,9415,2024-03-20,2024-05-14,19525,252445.47,1262.23,Frank Delahunt
14,480,BACARDI USA INC,2024-04-16,9533,2024-03-28,2024-05-12,17537,219952.32,1055.77,None
15,480,BACARDI USA INC,2024-04-20,9658,2024-04-05,2024-05-30,16607,198302.71,1051.00,None
16,480,BACARDI USA INC,2024-04-30,9738,2024-04-11,2024-05-26,21648,257338.55,1209.49,Frank Delahunt
17,480,BACARDI USA INC,2024-05-07,9847,2024-04-19,2024-06-13,23002,295393.87,1358.81,Frank Delahunt
18,480,BACARDI USA INC,2024-05-16,9929,2024-04-25,2024-06-20,22553,298053.75,1341.24,Frank Delahunt
19,480,BACARDI USA INC,2024-05-18,10022,2024-05-01,2024-06-28,21903,274587.75,1400.40,Frank Delahunt
20,480,BACARDI USA INC,2024-05-30,10187,2024-05-12,2024-07-07,21871,271328.78,1410.91,Frank Delahunt
21,480,BACARDI USA INC,2024-05-31,10240,2024-05-16,2024-07-16,32991,485190.90,2620.03,Frank Delahunt
22,480,BACARDI USA INC,2024-06-12,10325,2024-05-22,2024-07-13,45168,622937.67,3114.69,Frank Delahunt
23,480,BACARDI USA INC,2024-06-14,10497,2024-06-02,2024-07-28,38503,546728.80,3007.01,Frank Delahunt
24,480,BACARDI USA INC,2024-06-27,10550,2024-06-06,2024-08-05,33594,435940.79,2048.92,Frank Delahunt
25,480,BACARDI USA INC,2024-07-04,10665,2024-06-14,2024-08-12,49452,400799.37,1923.84,Frank Delahunt
26,480,BACARDI USA INC,2024-07-09,10778,2024-06-22,2024-08-04,28926,395672.81,1899.23,Frank Delahunt
27,480,BACARDI USA INC,2024-07-05,10837,2024-06-25,2024-08-12,6718,94479.04,434.60,None
28,480,BACARDI USA INC,2024-07-14,10999,2024-07-01,2024-08-18,45585,614734.81,3012.20,Frank Delahunt
29,480,BACARDI USA INC,2024-07-24,11067,2024-07-05,2024-08-24,48407,653537.89,3071.63,Frank Delahunt
30,480,BACARDI USA INC,2024-08-01,11188,2024-07-14,2024-09-09,58643,792646.81,3804.70,Frank Delahunt
31,480,BACARDI USA INC,2024-08-02,11262,2024-07-19,2024-09-17,49827,722550.39,3612.75,Frank Delahunt
32,480,BACARDI USA INC,2024-08-11,11341,2024-07-25,2024-09-15,25877,345721.85,1590.32,Frank Delahunt
33,480,BACARDI USA INC,2024-08-17,11491,2024-08-04,2024-09-20,26238,316219.81,1454.61,Frank Delahunt
34,480,BACARDI USA INC,2024-08-28,11606,2024-08-11,2024-10-01,33725,418579.14,1967.32,Frank Delahunt
35,480,BACARDI USA INC,2024-09-01,11686,2024-08-17,2024-10-07,21541,261170.36,1253.62,Frank Delahunt
36,480,BACARDI USA INC,2024-09-06,11748,2024-08-22,2024-10-09,22317,253169.40,1265.85,Frank Delahunt
37,480,BACARDI USA INC,2024-09-20,11859,2024-08-30,2024-10-22,22405,267009.84,1415.15,Frank Delahunt
38,480,BACARDI USA INC,2024-09-20,12025,2024-09-09,2024-10-30,23219,200556.68,942.62,None
39,480,BACARDI USA INC,2024-10-03,12040,2024-09-11,2024-10-27,20000,236103.42,1133.30,None
40,480,BACARDI USA INC,2024-10-07,12236,2024-09-23,2024-11-10,39981,457183.53,2514.51,Frank Delahunt
41,480,BACARDI USA INC,2024-10-05,12254,2024-09-23,2024-11-13,264,4403.92,22.90,None
42,480,BACARDI USA INC,2024-10-16,12362,2024-09-28,2024-11-14,25279,317797.37,1430.09,Frank Delahunt
43,480,BACARDI USA INC,2024-10-19,12503,2024-10-07,2024-11-19,22284,290327.82,1364.54,Frank Delahunt
44,480,BACARDI USA INC,2024-10-25,12538,2024-10-10,2024-11-30,21735,289867.95,1594.27,Frank Delahunt
45,480,BACARDI USA INC,2024-11-06,12635,2024-10-17,2024-12-02,32736,474904.53,2374.52,Frank Delahunt
46,480,BACARDI USA INC,2024-11-12,12766,2024-10-26,2024-12-19,31929,461855.78,2355.46,Frank Delahunt
47,480,BACARDI USA INC,2024-11-17,12890,2024-11-02,2024-12-29,40775,574958.37,3047.28,Frank Delahunt
48,480,BACARDI USA INC,2024-11-26,12946,2024-11-07,2024-12-28,32203,400311.97,1801.40,Frank Delahunt
49,480,BACARDI USA INC,2024-11-30,13093,2024-11-16,2025-01-15,23079,262474.83,1233.63,Frank Delahunt
50,480,BACARDI USA INC,2024-12-06,13220,2024-11-25,2025-01-11,31602,364837.70,1787.70,Frank Delahunt
51,480,BACARDI USA INC,2024-12-15,13238,2024-11-27,2025-01-13,26278,290684.67,1308.08,Frank Delahunt
52,480,BACARDI USA INC,2024-12-26,13350,2024-12-05,2025-01-20,30183,325820.26,1694.27,Frank Delahunt
53,480,BACARDI USA INC,2025-01-03,13446,2024-12-11,2025-02-06,30898,317094.31,1553.76,Frank Delahunt
54,480,BACARDI USA INC,2025-01-08,13628,2024-12-22,2025-02-03,30817,322230.77,1578.93,Frank Delahunt

In [20]:
sales = pd.read_sql_query("SELECT * from sales WHERE VendorNo = 480", conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1020,1,1020,B & B Dom VAP,750mL,1,24.99,24.99,2024-01-29,750.0,1,0.79,480,BACARDI USA INC
1,1_HARDERSFIELD_12191,1,12191,M & R Sparkling Rose,750mL,1,9.99,9.99,2024-01-01,750.0,2,0.11,480,BACARDI USA INC
2,1_HARDERSFIELD_12191,1,12191,M & R Sparkling Rose,750mL,1,9.99,9.99,2024-01-07,750.0,2,0.11,480,BACARDI USA INC
3,1_HARDERSFIELD_12191,1,12191,M & R Sparkling Rose,750mL,1,9.99,9.99,2024-01-16,750.0,2,0.11,480,BACARDI USA INC
4,1_HARDERSFIELD_12191,1,12191,M & R Sparkling Rose,750mL,1,9.99,9.99,2024-01-28,750.0,2,0.11,480,BACARDI USA INC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539467,9_BLACKPOOL_903,9,903,Bombay Sapphire Gin,Liter,2,55.98,27.99,2024-12-24,1000.0,1,2.10,480,BACARDI USA INC
539468,9_BLACKPOOL_903,9,903,Bombay Sapphire Gin,Liter,1,27.99,27.99,2024-12-27,1000.0,1,1.05,480,BACARDI USA INC
539469,9_BLACKPOOL_903,9,903,Bombay Sapphire Gin,Liter,1,27.99,27.99,2024-12-29,1000.0,1,1.05,480,BACARDI USA INC
539470,9_BLACKPOOL_903,9,903,Bombay Sapphire Gin,Liter,1,27.99,27.99,2024-12-30,1000.0,1,1.05,480,BACARDI USA INC
539471,9_BLACKPOOL_903,9,903,Bombay Sapphire Gin,Liter,1,27.99,27.99,2024-12-31,1000.0,1,1.05,480,BACARDI USA INC

In [21]:
purchases.groupby(['Brand', 'PurchasePrice'])[['Quantity', 'Dollars']].sum()

                     Quantity     Dollars
Brand PurchasePrice
126   20.14             59878  1205942.92
128   24.42                 4       97.68
129   24.99                 4       99.96
201   15.47                34      525.98
278   21.96                80     1756.80
...                       ...         ...
28323 4.83                156      753.48
29472 5.88                 91      535.08
29473 5.80                 78      452.40
40114 6.66               2191    14592.06
40175 8.21               4275    35097.75

[165 rows x 2 columns]

In [22]:
purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,126,Grey Goose Vodka,32.99,1000mL,1000,1,20.14,480,BACARDI USA INC
1,443,St Germain Liqueur,33.99,750mL,750,1,24.45,480,BACARDI USA INC
2,508,Bacardi Superior Rum,12.99,1000mL,1000,1,9.77,480,BACARDI USA INC
3,743,Angels Envy Whiskey,45.99,750mL,750,1,36.50,480,BACARDI USA INC
4,802,Bacardi Torched Cherry Rum,11.99,750mL,750,1,7.99,480,BACARDI USA INC
...,...,...,...,...,...,...,...,...,...
179,4024,Bacardi Razz,0.99,50mL,50,1,0.71,480,BACARDI USA INC
180,4192,Havana Club Anejo Blanco Rum,19.99,750mL,750,1,15.03,480,BACARDI USA INC
181,4216,Havana Club Anejo Clsco Gold,21.99,750mL,750,1,16.92,480,BACARDI USA INC
182,4237,Havana Club Anejo Blanco Rum,0.99,50mL,50,1,0.76,480,BACARDI USA INC
183,4251,Havana Club Anejo Clsco Gold,0.99,50mL,50,1,0.78,480,BACARDI USA INC

In [23]:
#PONumber is unique
print(vendor_invoice['PONumber'].nunique())
print(vendor_invoice.shape)
#Conclusion is that purchases table contains data common in vendor_invoice and purchase_prices table

55
(55, 10)

# Create an aggregate table for our analysis

In [28]:
freight_summary = pd.read_sql_query("""SELECT VendorNumber, SUM(Freight) as FreightCost FROM vendor_invoice
                                    GROUP BY VendorNumber""", conn)
freight_summary

     VendorNumber  FreightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [35]:
pd.read_sql_query("""SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.PurchasePrice,
    price.Volume,
    price.Price as ActualPrice,
    SUM(p.Quantity) as TotalPurchaseQuantity,
    SUM(p.Dollars) as TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_prices price
    ON p.Brand = price.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand
    ORDER BY TotalPurchaseDollars""", conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,2561,EDRINGTON AMERICAS,2166,0.00,750,0.00,2015,0.00
1,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
2,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47
3,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
4,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
...,...,...,...,...,...,...,...,...
10688,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01
10689,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94
10690,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68
10691,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22
10692,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60

In [ ]:
pd.read_sql_query("""SELECT
    VendorNo,
    Brand,
    SUM(SalesDollars) as TotalSalesDollars,
    SUM(SalesPrice) as TotalSalesPrice,
    SUM(SalesQuantity) as TotalSalesQuantity,
    SUM(ExciseTax) as TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
    ORDER BY TotalSalesDollars""", conn)

In [38]:
vendor_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT
        VendorNumber,
        SUM(Freight) AS FreightCost
    From vendor_invoice
    GROUP BY VendorNumber
),
PurchaseSummary AS (
    SELECT 
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.Description,
    p.PurchasePrice,
    price.Price as ActualPrice,
    price.Volume,
    SUM(p.Quantity) as TotalPurchaseQuantity,
    SUM(p.Dollars) as TotalPurchaseDollars
    FROM purchases p
    JOIN purchase_prices price
    ON p.Brand = price.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.Description, p.PurchasePrice, price.Price, price.Volume
),
SalesSummary AS (
    SELECT
    VendorNo,
    Brand,
    SUM(SalesDollars) as TotalSalesDollars,
    SUM(SalesPrice) as TotalSalesPrice,
    SUM(SalesQuantity) as TotalSalesQuantity,
    SUM(ExciseTax) as TotalExciseTax
    FROM sales
    GROUP BY VendorNo, Brand
)
SELECT
    ps.VendorNumber,
    ps.VendorName,
    ps.Brand,
    ps.Description,
    ps.PurchasePrice,
    ps.ActualPrice,
    ps.Volume,
    ps.TotalPurchaseQuantity,
    ps.TotalPurchaseDollars,
    ss.TotalSalesDollars,
    ss.TotalSalesPrice,
    ss.TotalSalesQuantity,
    ss.TotalExciseTax,
    fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo
    AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
    ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC""", conn)

In [39]:
vendor_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorNumber           10692 non-null  int64
 1   VendorName             10692 non-null  object
 2   Brand                  10692 non-null  int64
 3   Description            10692 non-null  object
 4   PurchasePrice          10692 non-null  float64
 5   ActualPrice            10692 non-null  float64
 6   Volume                 10692 non-null  object
 7   TotalPurchaseQuantity  10692 non-null  int64
 8   TotalPurchaseDollars   10692 non-null  float64
 9   TotalSalesDollars      10514 non-null  float64
 10  TotalSalesPrice        10514 non-null  float64
 11  TotalSalesQuantity     10514 non-null  float64
 12  TotalExciseTax         10514 non-null  float64
 13  FreightCost            10692 non-null  float64
dtypes: float64(8), int64(3), object(3)
memory usage: 1.1+ MB

In [40]:
vendor_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalSalesQuantity       float64
TotalExciseTax           float64
FreightCost              float64
dtype: object

In [41]:
vendor_summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
ActualPrice                0
Volume                     0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
TotalSalesDollars        178
TotalSalesPrice          178
TotalSalesQuantity       178
TotalExciseTax           178
FreightCost                0
dtype: int64

In [42]:
vendor_summary.head()

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,5.101920e+06,672819.31,142049.0,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,4.819073e+06,561512.37,160247.0,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,4.538121e+06,461140.15,187140.0,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,4.475973e+06,420050.01,200412.0,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,4.223108e+06,545778.28,135838.0,249587.83,257032.07

In [43]:
vendor_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'LAUREATE IMPORTS CO        ',
       'FANTASY FINE WINES CORP    ', 'AAPER ALCOHOL & CHEMICAL CO',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [44]:
vendor_summary['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      dtype=object)

In [45]:
vendor_summary['Volume'] = vendor_summary['Volume'].astype('float64')

In [46]:
vendor_summary.fillna(0, inplace =True)

In [47]:
#Removes whitespace
vendor_summary['VendorName'].str.strip()

0               BROWN-FORMAN CORP
1           MARTIGNETTI COMPANIES
2               PERNOD RICARD USA
3        DIAGEO NORTH AMERICA INC
4        DIAGEO NORTH AMERICA INC
                   ...
10687              WINE GROUP INC
10688              SAZERAC CO INC
10689    HEAVEN HILL DISTILLERIES
10690    DIAGEO NORTH AMERICA INC
10691        PROXIMO SPIRITS INC.
Name: VendorName, Length: 10692, dtype: object

In [48]:
vendor_summary['GrosProfit'] = vendor_summary['TotalSalesDollars'] - vendor_summary['TotalPurchaseDollars']

In [49]:
vendor_summary['ProfitMargin'] = (vendor_summary['GrosProfit'] / vendor_summary['TotalSalesDollars']) * 100

In [50]:
vendor_summary['StockTurnover'] = vendor_summary['TotalSalesQuantity']/vendor_summary['TotalPurchaseQuantity']

In [51]:
vendor_summary['SalestoPurchaseRatio'] = vendor_summary['TotalSalesDollars'] / vendor_summary['TotalPurchaseDollars']

In [52]:
cursor = conn.cursor()
cursor.execute("""CREATE TABLE vendor_summary(
     VendorNumber INT,
     VendorName VARCHAR(100),
     Brand INT,
     Description VARCHAR(100),
     PurchasePrice DECIMAL (15,2),
     ActualPrice DECIMAL (15,2),
     Volume,
     TotalPurchaseQuantity INT,
     TotalPurchaseDollars DECIMAL (15,2),
     TotalSalesDollars DECIMAL (15,2),
     TotalSalesPrice DECIMAL (15,2),
     TotalSalesQuantity INT,
     TotalExciseTax DECIMAL (15,2),
     FreightCost DECIMAL (15,2),
     GrosProfit DECIMAL (15,2),
     ProfitMargin DECIMAL (15,2),
     StockTurnover DECIMAL (15,2),
     SalestoPurchaseRatio DECIMAL (15,2),
     PRIMARY KEY (VendorNumber, Brand)
);
""")

In [57]:
conn.close()
conn = sqlite3.connect('inventory.db')

In [56]:
pd.read_sql_query("SELECT * FROM vendor_summary", conn)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, PurchasePrice, ActualPrice, Volume, TotalPurchaseQuantity, TotalPurchaseDollars, TotalSalesDollars, TotalSalesPrice, TotalSalesQuantity, TotalExciseTax, FreightCost, GrosProfit, ProfitMargin, StockTurnover, SalestoPurchaseRatio]
Index: []

In [58]:
vendor_summary.to_sql('vendor_summary', conn, if_exists = 'replace', index = False)

10692